body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

.mb-5 { margin-bottom: 5px; }
a { text-decoration: none; }
.clearall { clear: both; }

.page-container {
	padding: 20px;
    margin: 0 auto;
    width: 500px;
    font-family: 'Roboto', sans-serif;

    .title {
		text-align: center;
		font-size: 24px;
		color: #666;
		padding-bottom: 20px;
    }

	.textbox {
		padding: 10px;
		outline: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid 1px #666;
		font-size: 18px;
    	width: inherit;
    	margin: 0 auto;    	
	}

	.preview-box {
		border: solid 1px #EEE;
		width: 100%;

		.image {
			width: 100%;
		}

		.text-box {
			padding: 10px 12px;
			background: #FAFAFA;

			.timeago {
				float: right;
				font-style: italic;
				text-transform: none;				
			}

			.title-desc-box {
				max-height: 45px;
    			overflow: hidden;
			}			

			.sitename {
				text-transform: uppercase;
    			font-size: 11px;
    			color: #666;
			}

			.sitetitle {
				font-size: 16px;
    			line-height: 20px;
    			font-weight: 700;
    			cursor: pointer;
    			color: #1d2129;
			}

			.sitedesc {
				font-size: 12px;
    			color: #666;
    			white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
		}
	}

	.preview-box-small {
		margin-bottom: 10px;
		border-bottom: solid thin #fafafa;
		padding-bottom: 10px;

		.left {
			float: left;
			width: 120px;
			.image {
				width: 100%;
				filter: grayscale(1);
				transition: all .2s;
				&:hover {
					filter: grayscale(0);
					transform: scale(1.01);
				}
			}
		}
		.right {
			float: left;
			margin-left: 20px;			
			width: 350px;
			.timeago, .sitename {
				font-size: 11px;
    		color: #777;
			}
			.sitetitle {
				color: #333;
				text-align: justify;
			}
			.sitedesc {
				font-size: 12px;
				color: #333;
				text-align: justify;
				// display: -webkit-box;
				// -webkit-box-orient: vertical;
				// -webkit-line-clamp: 3;
				// overflow: hidden;
			}
		}		
	}	
}